<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
  </head>
  <body>
    <h1>Let's Begin the Quiz</h1>
    <% for(let ques=0;ques<questions.length;  ques++){ %> Question: <%= questions[ques].questionText%>
    <br />
    Options:
   <% for(let i=0;i<questions[ques].options.length;i++){ %>
    <%= questions[ques].options[i] %> 
    <% } %>
    <br>   
    <% } %>
  </body>
</html>
